In [1]:
 !pip install --upgrade ta

Collecting ta
  Downloading https://files.pythonhosted.org/packages/3d/2a/2809eb8aab2c568893f2febdcce79b524498710d4c5c37a49ab544186a7b/ta-0.5.17.tar.gz
Requirement already satisfied, skipping upgrade: numpy in /usr/local/lib/python3.6/dist-packages (from ta) (1.18.2)
Requirement already satisfied, skipping upgrade: pandas in /usr/local/lib/python3.6/dist-packages (from ta) (1.0.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->ta) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->ta) (2018.9)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->ta) (1.12.0)
Building wheels for collected packages: ta
  Building wheel for ta (setup.py) ... done
  Created wheel for ta: filename=ta-0.5.17-cp36-none-any.whl size=23658 sha256=f2c8ef28fada9a515a83e3860465fdf7ce26e98d2efb830550e6a1cdf76cb870
  Stored in directory: /root/.cache/pip/wheels/35/cf/3d/f2311e48805ddb99143597f0b38df4196fcbbfdf0c61eae3e8
Successfully built ta
Installing collected packages: ta
Successfully installed ta-0.5.17

In [0]:
import pandas as pd
import ta

# Load datas
df = pd.read_csv('stock_data_with_wr.csv', sep=',')

In [4]:
df.head()

   Unnamed: 0        date        high  ...   adj_close               comp         wr
0           0  01-07-2015  312.700012  ...  303.809296  Adani Ports & SEZ -22.580994
1           1  02-07-2015  319.000000  ...  308.445007  Adani Ports & SEZ -23.600098
2           2  03-07-2015  325.750000  ...  313.080688  Adani Ports & SEZ -25.714349
3           3  06-07-2015  321.100006  ...  312.397553  Adani Ports & SEZ -29.350618
4           4  07-07-2015  334.700012  ...  325.035919  Adani Ports & SEZ  -5.851148

[5 rows x 10 columns]

In [0]:
# Initialize Bollinger Bands Indicator
indicator_bb = ta.volatility.BollingerBands(close=df["close"], n=15, ndev=2)

# Add Bollinger Bands features
df['moving_avg'] = indicator_bb.bollinger_mavg()

In [0]:
df.to_csv('stock_data_with_ma.csv')

In [7]:
print(df["moving_avg"])

0        311.299988
1        313.674988
2        316.049988
3        317.062492
4        320.259991
            ...
58695    141.136667
58696    136.716668
58697    133.923334
58698    132.376666
58699    133.493333
Name: moving_avg, Length: 58700, dtype: float64